* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(#320f8a, #2e5ebb);
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}
.logo-container {
  background-image: url(https://www.iplt20.com/assets/images/ipl-logo-new-old.png);
  background-repeat: no-repeat;
  height: 6rem;
  cursor: pointer;
}

.heading p {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 900;
}
.flex {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #2f71c4;
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 2rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 1.5rem;
  box-shadow: 0 0 1.5rem black;
  margin-bottom: 2rem;
}
input {
  /* border-radius: 1rem; */
  margin-top: 0.5rem;
  height: 2.5rem;
  margin-left: 0.3rem;
  padding-left: 0.7rem;
}

.signup-button .btn {
  width: 70%;
  height: 2rem;
  margin-left: 6rem;
  margin-top: 0.6rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 900;
  font-size: 1rem;
}

.signup-button .btn:hover {
  background-color: #320f8a;
  color: white;
}

.check {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.a-terms {
  color: white;
  font-weight: 500;
}

@media screen and (max-device-width: 640px) {
  .form-container {
    width: 70%;
  }

  .signup-button .btn {
    width: 70%;
    height: 2rem;
    margin-left: 2.2rem;
    margin-top: 0.6rem;
    border-radius: 2rem;
    cursor: pointer;
  }
}
